<div class="container-content">
  <h1>About</h1>
  <h2>概要</h2>
  <p>
    当サイトは個人サークル PORING SOFT が作成したアプリやプログラミング情報の公開を行っています。<br />
    サイト名はPORING SOFT .NETです。呼び方は ポリン ソフト ドットネット となります。
  </p>

  <h2>プログラムのダウンロードについて</h2>
  <p>
    基本的にはGitHub上でソースコード（MIT License）の形で公開しています。<br />
    一部のWindows/Androidアプリは実行可能なバイナリ形式でダウンロードできるようにしています。
  </p>

  <h2>動作確認</h2>
  <p>
    当サイト自体はAngularで構築しておりChoromeの最新バージョンで動作確認を行っています。
  </p>
  <h2>連絡先</h2>
  <button mat-button color="primary" (click)="jumpUrl(config.contactTwitter)">Twitter</button>
</div>
