<mat-sidenav-container>
  <mat-sidenav #sidenav mode="{{sidenaviMode}}" opened="{{sidenaviOpened}}" class="sidenavi-menu">
    <mat-nav-list class="sidenavi-menu-list">
      <mat-toolbar color="primary" class="shadow-toolbar">
        <button *ngIf="sidenaviIconVisible" mat-icon-button (click)="sidenav.toggle();">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span>MENU</span>
      </mat-toolbar>
      <h3 mat-subheader>グループ1</h3>
      <mat-list-item *ngFor="let item of naviLinkList">
        <a mat-line>{{item.title}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="container-root">
    <div class="container-header">
      <mat-toolbar color="primary" class="shadow-toolbar">
        <button *ngIf="sidenaviIconVisible" mat-icon-button (click)="sidenav.toggle();">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
      </mat-toolbar>
    </div>

    <div class="container-body">
      <mat-card class="card-content">
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
        <p>コンテンツ</p>
      </mat-card>
    </div>
    <div class="container-footer">
      <mat-toolbar>
        <span>Copyright (c) 2017 xxxx</span>
      </mat-toolbar>
    </div>
  </div>
</mat-sidenav-container>
